@model EliteOrderApp.Web.Dtos.CustomerDto
@{
	ViewData["Title"] = "AddOrEdit";
	Layout = null;
}

<div class="row">
	<div class="col-md-12">
		<form asp-action="AddOrEdit" asp-route-id="@Model.Id" onsubmit="return jQueryAjaxPost(this);" autocomplete="off">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<input type="hidden" asp-for="Id" />
			<div class="form-group">
				<label asp-for="Name" class="control-label"></label>
				<input asp-for="Name" class="form-control" />
				<span asp-validation-for="Name" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Contact" class="control-label"></label>
				<input asp-for="Contact" class="form-control" />
				<span asp-validation-for="Contact" class="text-danger"></span>
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-primary btn-lg">
					<i class="fas fa-save"></i>
					Save
				</button>
			</div>
		</form>
	</div>
</div>
