@using EliteOrderApp.Domain.Entities
@{
	ViewData["Title"] = "Customers";
}

<!-- [ breadcrumb ] start -->
<div class="page-header">
	<div class="page-block">
		<div class="row align-items-center">
			<div class="col-md-12">
				<div class="page-header-title">
					<h3 class="m-b-10">Customers</h3>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- [ breadcrumb ] end -->

<div class="main-body">
	<div class="page-wrapper">
		@(
			Html.DevExtreme().DataGrid<Customer>()
				.Columns(columns =>
				{
					columns.AddFor(m => m.Name).DataField("name");
					columns.AddFor(m => m.Contact).DataField("contact"); ;

				})
				.DataSource(d => d.WebApi()
				.Controller("Customer")
				.LoadAction("GetCustomers")
				.InsertAction("InsertCustomer")
				.UpdateAction("UpdateCustomer")
				.DeleteAction("DeleteCustomer")
				.Key("id"))
				.ShowBorders(true)
				.ShowColumnLines(true)
				.SearchPanel(searchPanel => searchPanel.Visible(true))
				.ShowRowLines(true)
				.RepaintChangesOnly(true)
				.Scrolling(s => s.Mode(GridScrollingMode.Virtual))
				.Editing(e => e
				.Mode(GridEditMode.Popup)
				.RefreshMode(GridEditRefreshMode.Reshape)
				.AllowAdding(true)
				.AllowDeleting(true)
				.AllowUpdating(true)
				.Popup(p => p
				.Title("Customer Info")
				.ShowTitle(true)
				.Width(500)
				.Height(250))
				.Form(f => f.Items(items =>
				{
					items.AddGroup()
					.ColCount(2)
					.ColSpan(2)
					.Items(groupItems =>
					{
						groupItems.AddSimpleFor(m => m.Name).DataField("name");
						groupItems.AddSimpleFor(m => m.Contact).Editor(e => e
					.TextBox()
					.Mask("0000-0000000")
					.MaskRules(new { X = new JS("/[02-9]/") })
					).DataField("contact"); 

					});

				})))
				.Summary(s=>s.TotalItems(items =>{
					items.AddFor(x => x.Name)
					.SummaryType(SummaryType.Count)
					.DisplayFormat("Total Customers : {0}");
				}))
			)
	</div>
</div>
@section Scripts{

}

