@{
	ViewData["Title"] = "Customers";
}
<div class="card">
	<div class="card-header"></div>
	<div class="card-block">
		<!-- [ breadcrumb ] start -->
		<div class="page-header">
			<div class="page-block">
				<div class="row align-items-center">
					<div class="col-md-12">
						<div class="page-header-title">
							<h3 class="m-b-10"></h3>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- [ breadcrumb ] end -->

		<div class="main-body">
			<div class="page-wrapper">
				<div class="row">
					<div class="col-sm-12">
						<div class="card">
							<div class="card-header">
								<h3>Customers</h3>
								<div class="">
									<button class="btn btn-square btn-dark"
											onclick="showInPopup('@Url.Action("AddOrEdit","Customer",null,Context.Request.Scheme)', 'New Customer')">
										New Customer
									</button>
								</div>
							</div>
							<div class="card-block" id="view-all">
								<partial name="_CustomerList" />
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>

	</div>
</div>

@section Scripts{
	<script>
		$(document).ready(function () {

			const cols = [
				{
					data: "name"
				},
				{
					data: "contact"
				},
				{
					data: "id",
					render: function (data) {
						return `<button class='btn btn-sm btn-info js-edit-customer' data-customer-id=${data}> Edit</button>` +
							`<button class='btn btn-sm btn-danger js-delete-customer' data-customer-id=${data}> Delete</button>`;
					}
				}
			];

			const table = getTable("customers", "/api/customers/get-customers", cols);

			editRecord("customers", ".js-edit-customer", "Customer/AddOrEdit/", "data-customer-id", "Edit Customer");

			deleteRecord("customers", ".js-delete-customer", "/api/customers/delete-customer/", "data-customer-id", table);

			refreshTableWithTime(table, 15000);

			refreshTableOnClick(".refresh-table", table);
		});
	</script>

	}

