<footer class="border-top footer text-muted">
	<div class="container">
		&copy; 2022 - EliteOrderApp - <a asp-area="" asp-page="/Privacy">Privacy</a>
	</div>
	<button class="refresh-table btn btn-square btn-light ">Refresh</button>
</footer>