<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - Elite Order App</title>

	<!-- Favicon icon -->
	<link rel="icon" href="~/assets/images/favicon.ico" type="image/x-icon">

	<link rel="stylesheet" href="~/css/custom.css" />

	<!-- fontawesome icon -->
	<link rel="stylesheet" href="~/assets/fonts/fontawesome/css/fontawesome-all.min.css">
	<!-- animation css -->
	<link rel="stylesheet" href="~/assets/plugins/animation/css/animate.min.css">
	<!-- pnotify css -->
	<link rel="stylesheet" href="~/assets/plugins/pnotify/css/pnotify.custom.min.css">
	<!-- pnotify-custom css -->
	<link rel="stylesheet" href="~/assets/css/pages/pnotify.css">

	<!-- vendor css -->
	<link rel="stylesheet" href="~/assets/css/style.css">

	<!-- data tables css -->
	<link rel="stylesheet" href="~/assets/plugins/data-tables/css/datatables.min.css">
	
	<!-- Bootstrap datetimepicker css -->
	<link rel="stylesheet" href="~/assets/plugins/bootstrap-datetimepicker/css/bootstrap-datepicker3.min.css">

	<!-- Required Js -->
	<script src="~/assets/plugins/jquery/js/jquery.min.js"></script>

	<partial name="_DevExpressLib" />
</head>
<body>
	<partial name="_Loader" />
	<partial name="_Header" />
	<section class="pcoded-main-container">
		<div class="pcoded-wrapper">
			<div class="pcoded-content">
				<div class="pcoded-inner-content">

					@RenderBody()

				</div>
			</div>
		</div>
	</section>
	<partial name="_Footer" />
	<partial name="_FormModal" />





	<script src="~/assets/js/vendor-all.min.js"></script>
	<script src="~/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
	<script src="~/assets/js/pcoded.min.js"></script>

	<!-- Libraries -->
	<!-- datatable Js -->
	<script src="~/assets/plugins/data-tables/js/datatables.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.26.0/moment.min.js"></script>
	<script src="https://cdn.datatables.net/plug-ins/1.10.25/sorting/datetime-moment.js"></script>
	<script src="~/assets/js/pages/tbl-datatable-custom.js"></script>

	<script src="~/lib/notify.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.5.2/bootbox.min.js"></script>

	<!-- pnotify Js -->
	<script src="~/assets/plugins/pnotify/js/pnotify.custom.min.js"></script>
	<script src="~/assets/plugins/pnotify/js/notify-event.js"></script>

	<!-- Input mask Js -->
	<script src="~/assets/plugins/inputmask/js/inputmask.min.js"></script>
	<script src="~/assets/plugins/inputmask/js/jquery.inputmask.min.js"></script>
	<script src="~/assets/plugins/inputmask/js/autoNumeric.js"></script>

	<!-- form-picker-custom Js -->
	<script src="~/assets/js/pages/form-masking-custom.js"></script>
	<script src="~/assets/plugins/bootstrap-datetimepicker/js/bootstrap-datepicker.min.js"></script>
	<script src="~/assets/js/pages/ac-datepicker.js"></script>

	<!-- custom JS -->
	<script src="~/js/modal-form.js"></script>
	<script src="~/js/crud.js"></script>
	<script src="~/js/common.js"></script>



	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
	@await RenderSectionAsync("Scripts", required: false)

</body>
</html>