<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - Elite Order App</title>

	<!-- Favicon icon -->
	<link rel="icon" href="~/assets/images/favicon.ico" type="image/x-icon">
	<!-- fontawesome icon -->
	<link rel="stylesheet" href="~/assets/fonts/fontawesome/css/fontawesome-all.min.css">
	<!-- animation css -->
	<link rel="stylesheet" href="~/assets/plugins/animation/css/animate.min.css">
	<!-- vendor css -->
	<link rel="stylesheet" href="~/assets/css/style.css">

	<!-- data tables css -->
	<link rel="stylesheet" href="~/assets/plugins/data-tables/css/datatables.min.css">

	<!-- modal-window-effects css -->
	<link rel="stylesheet" href="assets/plugins/modal-window-effects/css/md-modal.css">

	<partial name="_DevExpressLib" />
</head>
<body>
	<partial name="_Loader" />
	<partial name="_Header" />
	<section class="pcoded-main-container">
		<div class="pcoded-wrapper">
			<div class="pcoded-content">
				<div class="pcoded-inner-content">

					@RenderBody()

				</div>
			</div>
		</div>
	</section>
	<partial name="_Footer" />
<partial name="_Modal" />

	<script src="~/assets/js/vendor-all.min.js"></script>
	<script src="~/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
	<script src="~/assets/js/pcoded.min.js"></script>

	<!-- datatable Js -->
	<script src="~/assets/plugins/data-tables/js/datatables.min.js"></script>
	<script src="~/assets/js/pages/tbl-datatable-custom.js"></script>

	<!-- modal-window-effects Js -->
	<script src="~/assets/plugins/modal-window-effects/js/classie.js"></script>
	<script src="~/assets/plugins/modal-window-effects/js/modalEffects.js"></script>

	@*custom js*@
	<script src="~/js/site.js"></script>
	<script src="~/js/notify.js"></script>


	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>