@using EliteOrderApp.Domain.Entities
@{
	ViewData["Title"] = "Items";
}

<!-- [ breadcrumb ] start -->
<div class="page-header">
	<div class="page-block">
		<div class="row align-items-center">
			<div class="col-md-12">
				<div class="page-header-title">
					<h3 class="m-b-10">Items</h3>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- [ breadcrumb ] end -->

<div class="main-body">
	<div class="page-wrapper">
		@(Html.DevExtreme().DataGrid<Item>()

			.Columns(columns =>
			{
				columns.Add().DataField("name");
			})
			.DataSource(d => d.WebApi()
			.Controller("Item")
			.LoadAction("GetItems")
			.InsertAction("InsertItem")
			.UpdateAction("UpdateItem")
			.DeleteAction("DeleteItem")
			.Key("id")
			)
			.ShowBorders(true)
			.ShowColumnLines(true)
			.SearchPanel(searchPanel => searchPanel.Visible(true))
			.ShowRowLines(true)
			.RepaintChangesOnly(true)
			.Scrolling(s => s.Mode(GridScrollingMode.Virtual))
			.Editing(e => e
			.Mode(GridEditMode.Cell)
			.RefreshMode(GridEditRefreshMode.Reshape)
			.AllowAdding(true)
			.AllowDeleting(true)
			.AllowUpdating(true)
			))
	</div>
</div>


