@using EliteOrderApp.Domain.Entities
@{
	ViewData["Title"] = "Items";
}

<!-- [ breadcrumb ] start -->
<div class="page-header">
	<div class="page-block">
		<div class="row align-items-center">
			<div class="col-md-12">
				<div class="page-header-title">
					<h3 class="m-b-10">Items</h3>
					<div class="">
						<button class="btn btn-square btn-dark"
						        onclick="showInPopup('@Url.Action("AddOrEdit","Item",null,Context.Request.Scheme)', 'New Item')">
							New Item
						</button>
						<button class="refresh-table btn btn-square btn-light">Refresh</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- [ breadcrumb ] end -->

<div class="main-body">
	<div class="page-wrapper">
		<div class="card-block" id="view-all">
			<partial name="_ItemList" />
		</div>
	</div>
</div>
@section Scripts{
	<script>
		$(document).ready(function () {

			const cols = [
				{
					data: "name"
				},
				{
					data: "id",
					render: function (data) {
						return `<button class='btn btn-sm btn-info js-edit-item' data-item-id=${data}> Edit</button>` +
							`<button class='btn btn-sm btn-danger js-delete-item' data-item-id=${data}> Delete</button>`;
					}
				}
			];

			const table = getTable("items", "/api/items/get-items", cols);

			editRecord("items", ".js-edit-item", "Item/AddOrEdit/", "data-item-id", "Edit Item");

			deleteRecord("items", ".js-delete-item", "/api/items/delete-item/", "data-item-id", table);

			refreshTableWithTime(table, 15000);

			refreshTableOnClick(".refresh-table", table);
		});


	</script>
}

