@model EliteOrderApp.Web.Models.OrderModel
@{
	ViewData["Title"] = "New Order";
}

<div class="card">
	<div class="card-header">
		<h3 class="m-b-10">New Order</h3>

	</div>
	<div class="card-block">
		<!-- [ breadcrumb ] start -->
		<div class="page-header">
			<div class="page-block">
				<div class="row align-items-center">
					<div class="col-md-12">
						<div class="page-header-title">
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- [ breadcrumb ] end -->

		<div class="main-body">
			<div class="page-wrapper">
				@await Html.PartialAsync("_OrderForm", Model)
			</div>
		</div>
	</div>
</div>


@section Scripts
	{

	<script>
		$(document).ready(function () {
			const cols = [
				{
					data: "item.name"
				},
				{
					data: "id",
					render: function (data) {
						return `<button class='btn btn-sm btn-danger js-delete-cartItem' type='button' data-cartItem-id=${data}> Delete</button>`;
					}
				}
			];
			const cartTable = getTable("cartItems", "/api/cartItems/get-cart-items", cols, false);

			deleteRecord("cartItems", ".js-delete-cartItem", "/api/cartItems/delete-cart-item/", "data-cartItem-id", cartTable);

			$(".add-to-cart").click(function (e) {
				const i = $("#item").val();
				if (i === '') {
					new PNotify({
						title: "Please select Item.",
						type: 'error'
					});
					return;
				}
				const data = {
					ItemId: i
				}
				saveRecord("/api/cartItems/add-item-cart", data, cartTable, "Item added in cart.");
			});


			$(".advancePayment").on('change', function () {
				const totalAmount = parseInt($(".totalAmount").val().replace(/,/g, ''));
				const advancePayment = parseInt($(".advancePayment").val().replace(/,/g, ''));
				const balance = totalAmount - advancePayment;
				$(".balance").val(balance);

			});

			saveOrder = form => {
				try {
					$.ajax({
						type: 'POST',
						url: form.action,
						data: new FormData(form),
						contentType: false,
						processData: false,
						success: function (res) {
							if (res.isValid) {

								new PNotify({
									title: 'Order has been saved.',
									type: 'success',
									width: "100%",
									cornerclass: "no-border-radius",
									addclass: "stack-custom-top bg-primary",
									stack: { "dir1": "up", "dir2": "right", "spacing1": 1 }
								});
							}
							redirectAction("Order", "ManageOrders", "", 2000);
						},
						error: function (err) {
							new PNotify({
								title: err.responseText,
								type: 'error',
								width: "100%",
								cornerclass: "no-border-radius",
								addclass: "stack-custom-bottom bg-primary",
								stack: { "dir1": "up", "dir2": "right", "spacing1": 1 }
							});
						}
					});
				} catch (e) {
					console.log(e);
				}

				//to prevent form submit event
				return false;
			}
		});

	</script>
}
