@using EliteOrderApp.Domain.Entities
@{
	ViewData["Title"] = "New Order";
}


<!-- [ breadcrumb ] start -->
@model EliteOrderApp.Web.Models.OrderModel
<div class="page-header">
	<div class="page-block">
		<div class="row align-items-center">
			<div class="col-md-12">
				<div class="page-header-title">
					<h3 class="m-b-10">New Order</h3>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- [ breadcrumb ] end -->

<div class="main-body">
	<div class="page-wrapper">
		
	</div>
	</div>

